.no-select {
  user-select: none;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.padding-less {
  padding: 0 !important;
}

.margin-less {
  margin: 0 !important;
}

.make-hidden {
  display: none !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-loading {
  cursor: progress !important;
}

.make-rounded {
  border-radius: 100%;
}

.make-squared {
  border-radius: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}
