.no-select {
  user-select: none;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.make-fixed {
  position: fixed;
  width: 100%;
}

.make-full-width {
  width: 100% !important;
}

.make-full-screen {
  width: 100%;
  min-height: 100vh;
}

.make-vertical-align {
  display: flex;
  align-items: center;
}

.make-horizontal-align {
  display: flex;
  justify-content: center;
}

.padding-less {
  padding: 0 !important;
}

.margin-less {
  margin: 0 !important;
}

.make-hidden {
  display: none !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-loading {
  cursor: progress !important;
}

.make-rounded {
  border-radius: 100%;
}

.make-squared {
  border-radius: 0 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
